:root {
  --primary-color: 
  /* grey; */
  #FFFAEB;
  --secondary-color: #333;
  --tertiary-color: #ffffff;
  --antiPrimary-color: #bebebe;
  --rasio: calc(100vw / 100vh);
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  width: 100dvw;
  max-width: 400px;
  margin: 0;
}

/* Pengaturan untuk opening Page */
.openingPage{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--tertiary-color);
}
.openingPage.hidden{
  animation: fadeOut 1s ease-in-out forwards 0.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(15%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.openingPage h1{
  margin-top: 50px;
  /* font-family: "Aboreto", sans-serif; */
  font-style: normal;
  /* font-weight: 500; */
  /* text-shadow: #333 0px 5px 10px; */
}
.openingPage p:nth-child(2){
  font-size: 2rem;
  margin: 0;
  font-family: "Parisienne", cursive;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  /* letter-spacing: 2px; */
  /* text-shadow: var(--primary-color) 0px 5px 10px; */
}
.openingPage p:nth-child(4){
  font-size: 1.2rem;
  /* font-family: "Aref Ruqaa","Mate", sans-serif;; */
  /* font-weight: 300; */
  /* letter-spacing: 1px; */
  margin-top: 20px;
  margin-bottom: 5px;
}
#nama{
  font-size: 1.5rem;
  /* font-family: "Arima","Mate", sans-serif;; */
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin: 0;
}
.openingPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  height: 38vh;
}
.openingPage div img{
  height: 100%;
  object-fit: cover;
}
.openingPageButton{
  background: var(--primary-color);
  border-radius: 1rem;
  width: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 4px 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  box-shadow: inset 0 1px 5px rgba(225, 225, 225, .2), inset 0 -1px 5px rgba(0, 0, 0, .2); 
  transition: all .3s ease;
  cursor: pointer;
  /* font-family: "Arima","Mate", sans-serif;; */
}
.openingPageButton:hover{
  scale: 1.05;
  filter:drop-shadow( 0 3 10px rgba(0, 0, 0, .8));
}
.openingPageButton:active{
  scale: 0.95;
  filter:drop-shadow( 0 3 10px rgba(0, 0, 0, .8));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  /* animation: fadeIn 0.7s ease-in-out forwards; */
}
/* @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
.container.hidden{
  opacity: 0;
  visibility: hidden;
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  scale: 0.98;
  transition: all 0.5s ease;
  background: var(--tertiary-color);
  border-radius: 20px;
  Margin: 10px 0px 10px 0px;
  padding: 20px 0px 30px 0px;
}

.section:nth-child(1) {
  border-radius: 0;
  margin:0;
  padding: 0;
  height: 100vh;
  display: inline;
  overflow: hidden;
}
.section:nth-child(1) h1{
  position: relative;
  top: 80vh;
  margin: 0;
  padding: 0;  
}
.section:nth-child(1) p{
  position: relative;
  top: 80vh;
  margin: 0;
  padding: 0;
}
/* pengaturan untuk section 2 */
.section:nth-child(2) {
  background: transparent; 
}
.section:nth-child(2) p{
  font-size: 1rem;
  text-align: center;
  margin: 0px 20vw;
}

@media(max-width: 600px) {
  .section:nth-child(2) p{
    font-size: 0.8rem;
    margin: 0px 5vw;
  }
}

.section.show {
  opacity: 1;
  scale: 1;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  /* font-family: "Arima",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: #aaa;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

/* Pengaturan khusus untuk gambar Section no.1 */
.section:nth-child(1) img{
  height: 70vh;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-top:7vh;
  transform: translate(-50%, 0%);
  filter: grayscale(90%);
}
@media(max-width: 600px) {
.backDrop{
  position: absolute;
  z-index: -1;
  max-height: 90rem;
  opacity: .2;
  left :50%;
  top: 8%;
}

}
.backDrop{
  position: absolute;
  z-index: -1;
  max-height: 8rem;
  opacity: .2;
  left :calc(50% + 9rem);
  top: 43%;
}

/* Pengaturan khusus untuk Section no.3 */
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  width: 50vw;
  max-width: 300px;
  border-radius: 20px;
  padding: 30px 10px 10px 10px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.photoCard{
  width: 50vw;
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  margin-top: 30px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.inCard{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
div.inCard{
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to top, var(--primary-color) 1%, 40% , transparent 100%);
}

.section:nth-child(3) h2{
  font-size: 1.3rem;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: .1rem;
  margin-bottom: 0;
}
.section:nth-child(3) p{
  font-size: 1rem;
  width: 90vw;
}
@media(max-width: 600px) {
 .section:nth-child(3) p{
  font-size: .8rem;
  width: 90vw;
 }
}

#initial{
  font-family: "Parisienne", cursive;
  text-align: center;
  font-size: 1.5rem ;
  margin-top: 10px;
  position: absolute;;
  bottom: 0px;
  z-index: 2;
  text-shadow: #ffffff 0px 0px 20px;
}
/* pengaturan Section 4 */
.section:nth-child(4) {
  background: transparent;
}
.savethe-date{
  background-color: var(--tertiary-color);
  border-radius: 25vw;
  width: 80vw;
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savethe-date h3{
  font-size: 1.3rem;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: .1rem;
  margin-bottom: 0;
  text-align: center;
}
.savethe-date p{
  font-size: 1rem;
}
.savethe-date h3::before{
  content: "";      /*letakkan garis dipinggir akad dan resepsi*/
  display: inline-block;
  width: 50px;
  height: .5px;
  background: black;
  margin-right: 10px;
  vertical-align: middle;
}
.savethe-date h3::after{
  content: "";
  display: inline-block;
  width: 50px;
  height: .5px;
  background: var(--secondary-color);
  margin-right: 10px;
  vertical-align: middle;
}
.resepsi{
  padding-top: 30px;
}
.location{
  background: var(--primary-color);
  border-radius: 1rem;
  width: auto;
  padding: 4px 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  box-shadow: inset 0 1px 5px rgba(225, 225, 225, .2), inset 0 -1px 5px rgba(0, 0, 0, .2);
  transition: all .3s ease;
  cursor: grab;
}
.location img{
  align-self: center ;
}
.location:hover{
  scale: 1.1;
  filter:drop-shadow( 0 3 10px rgba(0, 0, 0, .8));
}
.location:active{
  scale: 0.9;
  filter:drop-shadow( 0 3 10px rgba(0, 0, 0, .8));
}
.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  border-bottom: var(--primary-color) .5px solid;
  padding-bottom: 25px;
  overflow: visible;
  width: 50vw;
  /* font-family: "Arima","Aref Ruqaa","Aboreto",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.countdown div {
  background: transparent;
  border-radius: 10px;
  text-align: center;
  font-weight: initial;
  font-size: 1.05rem;
  width: 80px;
}


/* pengaturan section 5 */
.section:nth-child(5) {
  height: calc(var(--height) + 20vh);
  justify-content: flex-start;
}
.slider{
  position: relative;
  width: 90vw;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%  85%,
    transparent
  );
  padding: 20px 0px;
  /* border: green 0.5px solid; */
  display: flex;
  cursor: grab;
}
.slider .item{
  width: fit-content;
  max-height: var(--height);
  position: absolute;
  left: 0;
  transform: translateX(90vw);
  /* border: #333 0.5px solid; */
  border-radius: 10px;
  overflow: hidden;
  animation: autoRun linear infinite;
  animation-duration: 16s;
  animation-delay: calc(16s * var(--position) / 269.7 ); 

}
@media(max-width: 600px) {
  .slider .item{
    animation: autoRun 16s linear infinite;
    animation-delay: calc(16s * var(--position) / 269.7 ); 
  }
}
.slider .item img{
  max-width: var(--width);
  max-height: var(--height);
}
@keyframes autoRun {
  from {
    transform:translateX(90vw);
  }
  to{
    transform: translateX(calc(90vw - 269.7vh)); 
  }
}
.slider:hover .item{
  animation-play-state: paused!important;
  /* animation-duration: 120s; */
}

/* pengaturan untuk section 6 */
/* .section:nth-child(6){
  height: 35vh;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
  margin: 40px 5vw;
  padding-top: 20px;
  font-size: 1rem;
  gap: 20px;
  
} 
.section:nth-child(6).display{
  height: 80vh;
}
.section:nth-child(6) p{
  font-size: 0.9rem;
  text-align: center;
  margin: 0px 5px;
}

.atmCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(229, 255, 228);
  border: #0b878b 1.5px solid;
  width: 70vw;
  max-width: 300px;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
 }
.bsi {
  width: 50px;
  align-self: flex-end;
}
.copy{
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.199);
  text-align: center;
  align-self: flex-end;
  border: #33333394 1px solid;
  border-radius: 5px;
  padding: 4px;
}
.copy img{
  height: 0.9rem;
}
.copy::after{
  content: 'Copy';
}
.copy:active::after{ 
  content: 'Tersalin!';
  transition: all 1.2s ease;
  color: #333;
}
.hadiah{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #0b878b 1.5px solid;
  border-radius: 20px;
  padding: 10px;
  width: 70vw;
  max-width: 300px;
  background-color: rgb(229, 255, 228);
  font-size: .9rem;
  text-align: center;
}
.hadiah span{
  font-size: 0.5rem;
}
/* .atmCard,  
.hadiah{
  opacity: 0;
  scale: 0.8;
  visibility: hidden ;
  transition: all 0.5s ease-in-out 0.5s;
   
  
}
/* .atmCard.display,  
.hadiah.display{
  opacity: 1;
  scale: 1;
  visibility: visible;
}*/

/* setting untuk section 7 */
#greetings {
  background: transparent;
  display: block;
}
form{
  line-height: 2em;
  text-align: left;
  width: 82vw;
  margin: 30px 10vw;
}
/* untuk nama */
input[name="entry.206889230"]:focus{
  width: 82vw;
  border-color: rgb(255, 253, 127);
  height: 2rem;
  outline: none; 
}
input[name="entry.206889230"]{
  width: 35vw;
  max-width: 400px;
  margin-bottom: 10px;
  height: 1.8rem;
  background-color: var(--tertiary-color);
  border: black 0.1px solid;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
  padding-bottom: 3px;
}
input::placeholder{
  color: rgb(145, 145, 145);
  font-size: 1rem;
  padding-left: 5px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:focus::placeholder{
  opacity: 0;
  color: rgba(145, 145, 145, 0.2);
}
/* untuk ucapan */
textarea[name="entry.219318329"]:focus{
  width: 82vw;
  height: 9rem;
  border-color: rgb(255, 253, 127);
  outline: none; 
}
textarea[name="entry.219318329"]{
  width: 60vw;
  max-width: 400px;
  height: 4rem;
  margin: 10px 0px;
  text-align: start;
  transition: all 0.8s ease-in-out;
  border-radius: 10px;
  border: black 0.1px solid;
}
textarea::placeholder{
  color: rgb(145, 145, 145);
  font-size: 1rem;
  padding-left: 5px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
textarea:focus::placeholder{
  opacity: 0;
  color: rgba(145, 145, 145, 0.2);
}
/* untuk hadir atau tidak */
input[type="radio"] {
    margin-right: 10px;
    accent-color: #007BFF; /* Warna radio button modern */
    transform: scale(1.2); /* Membesarkan tombol */
    margin-bottom: 0px;
}
label{
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 5px 10px;
  border: 0.2px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.2), inset 0 -1px 5px rgba(255, 255, 255, 0.2);
  background: var(--tertiary-color);
  transition: all .3s ease-in-out;
  cursor: pointer;
}
button:hover{
  color: grey;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  scale: 1.02;
}
button:active{
  scale: .9;
}
#thankYouMsg{
  position: fixed;
  z-index: 10;
  background-color: var(--primary-color);
  top: 10vh;
  right: -100%; 
  color: green; 
  font-weight: bold;
  border-radius: 10px;
  transition: all 1s ease-in-out;
  padding: 10px;
  box-shadow: inset 0 1px 5px rgba(225, 225, 225, .2), inset 0 -1px 5px rgba(0, 0, 0, .2);
}
#thankYouMsg.peek {
  right: 4vw;
}
#data-container {
  position: relative;
  display: block;
  margin: 30px 5vw 0px 5vw;
  width: 70vw;
  max-height: 35vh; /* batas tinggi */
  overflow-y: auto; /* scroll kalau lewat */;
  padding: 10px;
  scrollbar-width: 1px;
}
#data-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.data-block {
  border-bottom: 0.3px solid #999;
  padding-bottom: 0px;
  margin-top: 20px;
}
.data-block p{
  text-align: left;
  margin: 0;
  margin-left: 10px;
  line-height: 1.5rem;
}
.data-block p:nth-child(1){
  font-weight: bolder;
}
.data-block p:nth-child(3){
  font-size: .7rem;
  font-weight: bolder;
}
.kehadiran{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  color: var(--secondary-color);
  text-shadow: 0 3px 7px #333;
}
.kehadiran span{
  font-size: 2rem;
}
#attended{
  background: rgb(78, 255, 78);
  border: 2px solid rgb(56, 138, 56);
  border-radius: 20px;
  width: 100px;
  height: 88px;
  padding-top: 12px;
}
#notAttended{
  background: rgb(255, 68, 68);
  border: 2px solid rgb(211, 0, 0);
  border-radius: 20px;
  width: 100px;
  height: 88px;
  padding-top: 12px ;
}

/* Setting untuk Menampilkan Gallery */
.galleryClick {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: -100vh;
  overflow-x: auto;
  transition: all .5s ease 0.5s;
}
.galleryClick::-webkit-scrollbar {
  height: 2px; /* Hide scrollbar for WebKit browsers */
}
.galleryClick.active{
  z-index: 5;
  width: 100%;
  height: 100vh;
  top: 0vh;
}
.itemClick {
  display: flex;
  height: 100vh;
  width: auto;
  max-height: 600px;
  margin: 10px;
  flex-shrink: 0;  
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.forShadow{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: auto;
  display: flex;
  flex-shrink: 0;  
  cursor: pointer;
}
.itemClick img{
  height: 70vh;
  max-height: 600px;
  
}
.itemClick p{
  font-family: "Parisienne", cursive;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}
.itemClick.active {
  background-color: #FF5733;
}
.blur{
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  animation: out 0.5s ease-in-out forwards 1s;
}
.blur.active {
  animation: in 0.5s ease-in-out forwards;
}
@keyframes in {
  0% {opacity: 0; visibility: hidden;      }
  100% {opacity: 1; visibility: visible;      }
}
@keyframes out {
  0% {opacity: 1; visibility: visible;      }
  100% {opacity: 0; visibility: hidden;      }
}

/* Pengaturan untuk section "Terima Kasih */
#thankYou{
  height: 40vh;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 0px 10Px 5px 10px;
}

#thankYou p:nth-child(4){
  font-size: .6rem;
  /* font-family: "Arima","Mate", sans-serif;; */
  /* font-weight: 700; */
  letter-spacing: 2px;
  margin-top: auto;
  
}
#thankYou span{
  color: skyblue;
  text-decoration: underline;
  cursor: pointer;
}




























/*pengaturan simbol play pause lagu*/
#pausePlay{
  position: fixed;
  border: 1px black solid;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  z-index: 7;
  right: 5px;
  top: 60vh;
  background: var(--primary-color);
}
.play{
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black; /* Warna segitiga */
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.paused .play{
  visibility: visible;
}
.pause {
  width: 5px;
  height: 10px;
  background: black;
  visibility: visible;
  position: absolute;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.pause::before,
.pause::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background: var(--primary-color);
  top: 0;
}
.pause::before {
   left: 2px;
 }
.pause::after {
    right: 2px;
}
.paused .pause{
  visibility: hidden;
}
#pausePlay.paused{
  animation: unSee 2s forwards linear ;
}
#pausePlay.played{
  animation: unSee2 2s forwards linear;
}
@keyframes unSee{
  from{ opacity: 1;}
  to{ opacity: .3;}
}
@keyframes unSee2{
  from{ opacity: 1;}
  to{ opacity: .3;}
}
